@model DemoMVC.ViewModels.ViewModelProdotto

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Nome</h3>
    </div>
    <div class="panel-body">
        <span class="badge">@Model.UnitaInMagazzino</span>
        Prezzo: @Model.Prezzo
        Fornitore: @Model.Fornitore
        Categoria: @Model.Categoria
    </div>
</div>
